[submodule "deps/SCILP"]
	path = deps/SCILP
	url = git@github.com:maggesi/SCILP.git
[submodule "deps/competitive-programming"]
	path = deps/competitive-programming
	url = git@github.com:massimo-nocentini/competitive-programming.git
[submodule "deps/algebraic-gf-for-languages-avoiding-Riordan-patterns"]
	path = deps/algebraic-gf-for-languages-avoiding-Riordan-patterns
	url = git@github.com:massimo-nocentini/algebraic-gf-for-languages-avoiding-Riordan-patterns.git
[submodule "deps/oeis-tools"]
	path = deps/oeis-tools
	url = git@github.com:massimo-nocentini/oeis-tools.git
[submodule "deps/simulation-methods"]
	path = deps/simulation-methods
	url = git@github.com:massimo-nocentini/simulation-methods.git
